trigger:
- main
variables:
  # Azure Resource Manager connection created during pipeline creation
  azureSubscription: 'Action map sc'

  # Web app name
  webAppName: 'Actionmap1234'
  
  # Environment name
  environmentName: 'dev'

  # Agent VM image name
  vmImageName: 'windows-latest'

  # Zip File name
  fileName: 'asp.netMVC.zip'

  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

 

stages:
- stage: Build
  displayName: Build stage
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)

 

    steps:
      - task: NuGetToolInstaller@1

 

      - task: NuGetCommand@2
        inputs:
          restoreSolution: '$(solution)'

 

      - task: VSBuild@1
        inputs:
          solution: '$(solution)'
          msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:PackageLocation="$(build.artifactStagingDirectory)"'
          platform: '$(buildPlatform)'
          configuration: '$(buildConfiguration)'

 

      - task: VSTest@2
        inputs:
          platform: '$(buildPlatform)'
          configuration: '$(buildConfiguration)'

 


      - task: PublishBuildArtifacts@1
        displayName: 'Publish Artifact'
        inputs:
          PathtoPublish: '$(build.artifactstagingdirectory)'
        condition: succeededOrFailed()

 

      # - task: DownloadBuildArtifacts@0
      #   inputs:
      #    artifactName: 'drop'
      #    downloadPath: '$(System.DefaultWorkingDirectory)'

 

- stage: Deploy
  displayName: Deploy stage
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: Deploy
    displayName: Deploy
    environment: $(environmentName)
    pool: 
      vmImage: $(vmImageName)
    strategy:
      runOnce:
        deploy:
          steps:            
          - task: AzureRmWebAppDeployment@4
            displayName: 'Azure App Service Deploy: echobot-app-node'
            inputs:
              azureSubscription: $(azureSubscription)
              WebAppName: $(webAppName)
              packageForLinux: '$(Pipeline.Workspace)/drop/Sample-WebApp.zip'
              enableXmlVariableSubstitution: true